.DS_Store
aclocal.m4
ar-lib
autom4te.cache/
compile
m4/
missing
.libs/
.deps/
install-sh
libtool
ltmain.sh
test-driver
stamp-h1
*.dSYM
*.la
Makefile
Makefile.in
configure
configure.in
config.*
depcomp
*.lo
*.o
